Repository Catrobat/Catty, pull requests merged in 2020-05, with the labels that each got.

#1329 CATTY-236 Add tests for UserVariable
  src/CattyTests/DataModel/UserVariableTests.swift
Labels: code review passed

#1328 Catty-237: Convert UserVariable from Objective-C to Swift
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/Bricks/Data/AddItemToUserListBrick.m
  src/Catty/DataModel/Bricks/Data/ChangeVariableBrick.m
  src/Catty/DataModel/Bricks/Data/DeleteItemOfUserListBrick.m
  src/Catty/DataModel/Bricks/Data/HideTextBrick.m
  src/Catty/DataModel/Bricks/Data/InsertItemIntoUserListBrick.m
  src/Catty/DataModel/Bricks/Data/ReplaceItemInUserListBrick.m
  src/Catty/DataModel/Bricks/Data/SetVariableBrick.m
  src/Catty/DataModel/Bricks/Data/ShowTextBrick.m
  src/Catty/DataModel/Formula/FormulaElement.m
  src/Catty/DataModel/UserVariable/UserVariable.h
  src/Catty/DataModel/UserVariable/UserVariable.m
  src/Catty/DataModel/UserVariable/UserVariable.swift
  src/Catty/DataModel/VariablesContainer/VariablesContainer.m
  src/Catty/FormulaEditor/Helper/Brick+UserVariable.m
  src/Catty/FormulaEditor/Helper/FormulaElement+UserVariable.m
  src/Catty/FormulaEditor/InternFormulaParser.h
  src/Catty/FormulaEditor/ViewController/FormulaEditorViewController.m
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/Project/Project+CBXMLHandler.m
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/UserVariable/UserVariable+CBXMLHandler.h
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/UserVariable/UserVariable+CBXMLHandler.m
  src/Catty/PlayerEngine/Instructions/Data/ChangeVariableBrick+Instruction.swift
  src/Catty/PlayerEngine/Instructions/Data/HideTextBrick+Instruction.swift
  src/Catty/PlayerEngine/Instructions/Data/SetVariableBrick+Instruction.swift
  src/Catty/PlayerEngine/Instructions/Data/ShowTextBrick+Instruction.swift
  src/Catty/PlayerEngine/Scene/CBScene.swift
  src/Catty/Supporting Files/Catty-Bridging-Header.h
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/ScriptCollectionViewController.m
  src/Catty/Views/Custom/CollectionViewCells/BrickCellData/BrickCellListData.m
  src/Catty/Views/Custom/CollectionViewCells/BrickCellData/BrickCellVariableData.m
  src/CattyTests/Bricks/BrickWithUserVariableTests.swift
  src/CattyTests/Bricks/ChangeVariableBrickTests.swift
  src/CattyTests/Bricks/DeleteItemOfUserListBrickTests.swift
  src/CattyTests/Bricks/GoNStepsBackBrickTests.swift
  src/CattyTests/Bricks/HideBrickTests.swift
  src/CattyTests/Bricks/HideTextBrickTests.swift
  src/CattyTests/Bricks/IfOnEdgeBounceBrickTests.swift
  src/CattyTests/Bricks/InsertItemIntoUserListBrickTests.swift
  src/CattyTests/Bricks/MoveNStepsBrickTests.swift
  src/CattyTests/Bricks/NextLookBrickTests.swift
  src/CattyTests/Bricks/PlaceAtBrickTests.swift
  src/CattyTests/Bricks/PointInDirectionBrickTests.swift
  src/CattyTests/Bricks/ReplaceItemInUserListBrickTests.swift
  src/CattyTests/Bricks/SetBackgroundBrickTests.swift
  src/CattyTests/Bricks/SetLookBrickTests.swift
  src/CattyTests/Bricks/ShowTextBrickTests.swift
  src/CattyTests/DataModel/UserVariableTests.swift
  src/CattyTests/DataModel/VariablesContainerTest.swift
  src/CattyTests/Parser & Serialization/CatrobatLanguage0.93/Unit Tests/XMLParserObjectTests093.swift
  src/CattyTests/Parser & Serialization/CatrobatLanguage0.95/XMLParserTests/Unit Tests/XMLParserBrickTests095.swift
  src/CattyTests/PlayerEngine/Formula/FormulaManagerInterpreterTests.swift
  src/CattyTests/PlayerEngine/Functions/List/ContainsFunctionTest.swift
  src/CattyTests/PlayerEngine/Functions/List/ElementFunctionTest.swift
  src/CattyTests/PlayerEngine/Functions/List/NumberOfItemsFunctionTest.swift
  src/CattyTests/Project/ProjectTests.swift
  src/CattyTests/SceneTests.swift
  src/CattyTests/UserListFunctionsTest.swift
Labels: code review passed

#1319 CATTY-139 Convert AppDelegate from ObjC to Swift
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/Project/Project.m
  src/Catty/DataModel/SpriteObject/SpriteObject.m
  src/Catty/Helpers/ImageCache/DownloadImageCache.m
  src/Catty/Helpers/ImageCache/RuntimeImageCache.m
  src/Catty/Supporting Files/AppDelegate.h
  src/Catty/Supporting Files/AppDelegate.m
  src/Catty/Supporting Files/AppDelegate.swift
  src/Catty/Supporting Files/Catty-Bridging-Header.h
  src/Catty/Supporting Files/main.m
  src/Catty/ViewController/BaseViewController/BaseCollectionViewController.m
  src/Catty/ViewController/BaseViewController/BaseTableViewController.m
  src/Catty/ViewController/CatrobatTableViewController/CatrobatTableViewController.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainLooks/LooksTableViewController.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainSounds/SRViewController.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainSounds/SoundsTableViewController.m
  src/Catty/ViewController/Download/ProjectDetailStoreViewController.m
  src/Catty/ViewController/Projects/MyProjectsViewController.m
  src/CattyTests/Mocks/AppDelegateMock.swift
Labels: code review pending

#1336 CATTY-226 Implement project migrator
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/Helpers/Util/Util.h
  src/Catty/Helpers/Util/Util.m
  src/Catty/Parser&Serialializer/ProjectMigrator.swift
  src/Catty/Parser&Serialializer/ProjectMigratorProtocol.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/CattyTests/FileManager/CBFileManagerMockTests.swift
  src/CattyTests/Mocks/CBFileManagerMock.swift
  src/CattyTests/Project/ProjectMigratorTest.swift
  src/CattyTests/Utils/UtilTests.swift
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
Labels: code review passed

#1338 Catty-239: Add tests for BrickCellVariableData
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Supporting Files/Catty-Bridging-Header.h
  src/CattyTests/Views/Data/BrickCellVariableDataTests.swift
Labels: code review passed

#1339 CATTY-245 Create UserData protocol
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/UserVariable/UserDataProtocol.swift
  src/Catty/DataModel/UserVariable/UserVariable.swift
Labels: code review passed

#1342 CATTY-260 Remove default initializer for UserVariable
  src/Catty/DataModel/UserData/UserVariable.swift
  src/Catty/Parser&Serialializer/Old Parser/ProjectParser.m
Labels: code review pending

#1343 CATTY-257 Convert NSDate extension to Swift
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Extension&Delegate&Protocol/Extensions/NSDate+Extension/NSDate+CustomExtensions.h
  src/Catty/Extension&Delegate&Protocol/Extensions/NSDate+Extension/NSDate+CustomExtensions.m
  src/Catty/Extension&Delegate&Protocol/Extensions/NSDate+Extension/NSDateExtension.swift
  src/Catty/ViewController/Projects/MyProjectsViewController.m
  src/CattyTests/Extensions/NSDateExtensionTests.swift
Labels: in code review

#1345 CATTY-262 Split up isProjectVariableOrList method
  src/Catty/DataModel/VariablesContainer/VariablesContainer.h
  src/Catty/DataModel/VariablesContainer/VariablesContainer.m
  src/Catty/FormulaEditor/ViewController/FormulaEditorViewController.m
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/UserVariable/UserVariable+CBXMLHandler.m
  src/CattyTests/DataModel/VariablesContainerTest.swift
Labels: in code review

#1348 Catty-252: Rename Data extension and add test
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Extension&Delegate&Protocol/Extensions/DataExtension.swift
  src/CattyTests/DataExtensionTests.swift
Labels: code review passed

#1344 CATTY-265 Update links in README
  README.md
Labels: code review passed

#1352 CATTY-290 Add additional tests to BrickWithUserVariableTests
  src/Catty.xcodeproj/project.pbxproj
  src/CattyTests/Bricks/BrickUserDataTests.swift
Labels: in code review

#1351 CATTY-283 Convert FormulaElement extension to Swift
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Extension&Delegate&Protocol/Extensions/FormulaElementExtension.swift
  src/Catty/FormulaEditor/Helper/Brick+UserVariable.m
  src/Catty/FormulaEditor/Helper/FormulaElement+UserVariable.m
  src/CattyTests/Formula/FormulaElementTest.swift
Labels: in code review

#1353 Catty-272: Implement update function for SpriteNodes
  src/Catty/PlayerEngine/CBPlayerConfig.swift
  src/Catty/PlayerEngine/DataModel/CBSpriteNode/CBSpriteNode.swift
  src/Catty/PlayerEngine/Protocols/CBSchedulerProtocol.swift
  src/Catty/PlayerEngine/Scene/CBScene.swift
  src/Catty/PlayerEngine/Scheduler/CBScheduler.swift
  src/CattyTests/PlayerEngine/Mocks/CBSpriteNodeMock.swift
  src/CattyTests/SceneTests.swift
Labels: in code review

#1350 CATTY-282 Fix serialization of local variables with duplicate names
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/VariablesContainer/VariablesContainer.h
  src/Catty/DataModel/VariablesContainer/VariablesContainer.m
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/SpriteObject/SpriteObject+CBXMLHandler.m
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/UserVariable/UserVariable+CBXMLHandler.m
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/VariablesContainer/VariablesContainer+CBXMLHandler.m
  src/CattyTests/DataModel/VariablesContainerTest.swift
  src/CattyTests/Parser & Serialization/CatrobatLanguage0.991/XMLSerializerTests/BlackBox Tests/XMLSerializerBlackBoxTests.swift
  src/CattyTests/Resources/ParserTests/Custom/Data/UserData_0991.xml
Labels: code review passed

#1367 CATTY-291 Convert Brick+UserVariable extension to Swift and split up methods
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Extension&Delegate&Protocol/Extensions/BrickExtension.swift
  src/Catty/FormulaEditor/Helper/Brick+UserVariable.h
  src/Catty/FormulaEditor/Helper/Brick+UserVariable.m
  src/Catty/FormulaEditor/ViewController/FormulaEditorViewController.m
  src/Catty/Supporting Files/Catty-Bridging-Header.h
  src/CattyTests/Bricks/BrickExtensionTests.swift
Labels: code review passed

#1363 CATTY-264 Create XML handler for UserList
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/UserData/UserList/UserList+CBXMLHandler.h
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/UserData/UserList/UserList+CBXMLHandler.m
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/UserData/UserVariable/UserVariable+CBXMLHandler.h
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/UserData/UserVariable/UserVariable+CBXMLHandler.m
  src/CattyTests/Parser & Serialization/UserListXMLHandlerTests.m
Labels: in code review

#1366 CATTY-302 FIX null/nonnull linter warnings in util
  src/Catty/Helpers/Util/Util.h
Labels: in code review
