Repository Catrobat/Catty, pull requests merged in 2020-11, with the labels that each got.

#1514 CATTY-206 Add tests for mutable copy (part 3)
  src/CattyTests/Bricks/PointToBrickTests.swift
  src/CattyTests/Bricks/PreviousLookBrickTests.swift
  src/CattyTests/Bricks/ReplaceItemInUserListBrickTests.swift
  src/CattyTests/Bricks/SetBrightnessBrickTests.swift
  src/CattyTests/Bricks/SetColorBrickTests.swift
  src/CattyTests/Bricks/SetSizeToBrickTests.swift
  src/CattyTests/Bricks/SetTransparencyBrickTests.swift
  src/CattyTests/Bricks/SetVariableBrickTests.swift
Labels: in code review

#1505 CATTY-111 Convert test for RequiredResources to Swift
  src/Catty.xcodeproj/project.pbxproj
  src/CattyTests/Project/RequiredResources.m
  src/CattyTests/Project/RequiredResourcesTests.swift
Labels: code review passed

#1501 CATTY-354: Embroidery: Create .dst file from Stitches
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Embroidery/EmbroideryDSTHeader.swift
  src/Catty/Embroidery/EmbroideryDSTService.swift
  src/Catty/Embroidery/EmbroideryDefines.swift
  src/Catty/Embroidery/EmbroideryProtocol.swift
  src/Catty/Embroidery/EmbroideryStream.swift
  src/Catty/Embroidery/Stitch.swift
  src/Catty/Extension&Delegate&Protocol/Extensions/CGVectorExtentions.swift
  src/CattyTests/CGVectorExtentionsTests.swift
  src/CattyTests/Embroidery/EmbroideryDSTHeaderTests.swift
  src/CattyTests/Embroidery/EmbroideryDSTServiceTests.swift
  src/CattyTests/Embroidery/EmbroideryStreamTests.swift
  src/CattyTests/Embroidery/StitchTests.swift
  src/CattyTests/Resources/EmbroideryReference/stitch.dst
Labels: in code review

#1529 CATTY-458: Do not allow reordering of Bricks in "insertion mode"
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/ScriptCollectionViewController.m
  src/CattyTests/CattyTests-Bridging-Header.h
  src/CattyTests/ViewController/ScriptCollectionViewControllerTests.swift
Labels: code review pending

#1530 CATTY-454 converted look to swift
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Condition/WhenBackgroundChangesScript+Condition.swift
  src/Catty/DataModel/Bricks/Look/ChangeBrightnessByNBrick.m
  src/Catty/DataModel/Bricks/Look/ChangeColorByNBrick.m
  src/Catty/DataModel/Bricks/Look/ClearGraphicEffectBrick.m
  src/Catty/DataModel/Bricks/Look/NextLookBrick.m
  src/Catty/DataModel/Bricks/Look/PreviousLookBrick.m
  src/Catty/DataModel/Bricks/Look/SetBackgroundBrick.h
  src/Catty/DataModel/Bricks/Look/SetBackgroundBrick.m
  src/Catty/DataModel/Bricks/Look/SetBrightnessBrick.m
  src/Catty/DataModel/Bricks/Look/SetLookBrick.h
  src/Catty/DataModel/Bricks/Look/SetLookBrick.m
  src/Catty/DataModel/Look/Look.h
  src/Catty/DataModel/Look/Look.m
  src/Catty/DataModel/Look/Look.swift
  src/Catty/DataModel/SpriteObject/SpriteObject.m
  src/Catty/Helpers/Util/Util.m
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/Look/Look+CBXMLHandler.h
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/Look/Look+CBXMLHandler.m
  src/Catty/Parser&Serialializer/Old Parser/ProjectParser.m
  src/Catty/Supporting Files/Catty-Bridging-Header.h
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainLooks/LooksTableViewController.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/ScriptCollectionViewController.m
  src/Catty/ViewController/Continue&New/SceneTableViewController.m
  src/Catty/Views/Custom/CollectionViewCells/BrickCellData/BrickCellLookData.m
  src/Catty/Views/Custom/ComboBox/iOSCombobox.m
  src/CattyTests/Bricks/ChangeBrightnessByNBrickTests.swift
  src/CattyTests/Bricks/ChangeColorByNBrickTests.swift
  src/CattyTests/Bricks/ClearGraphicEffectBrickTests.swift
  src/CattyTests/Bricks/NextLookBrickTests.swift
  src/CattyTests/Bricks/PreviousLookBrickTests.swift
  src/CattyTests/Bricks/SetBackgroundBrickTests.swift
  src/CattyTests/Bricks/SetBrightnessBrickTests.swift
  src/CattyTests/Bricks/SetColorBrickTests.swift
  src/CattyTests/Bricks/SetLookBrickTests.swift
  src/CattyTests/DataModel/LookTest.swift
  src/CattyTests/Parser & Serialization/CatrobatLanguage0.92/XMLParserTests092.swift
  src/CattyTests/Parser & Serialization/Helper/CBXMLParserHelperTests.swift
  src/CattyTests/Parser & Serialization/Helper/CBXMLSerializerHelperTests.swift
  src/CattyTests/PlayerEngine/Sensors/Object/BackgroundNameSensorTest.swift
  src/CattyTests/PlayerEngine/Sensors/Object/BackgroundNumberSensorTest.swift
  src/CattyTests/PlayerEngine/Sensors/Object/LookNameSensorTest.swift
  src/CattyTests/PlayerEngine/Sensors/Object/LookNumberSensorTest.swift
  src/CattyTests/Resources/ParserTests/UserProjects/Whack_A_Mole/Whack_A_Mole_092.xml
  src/CattyTests/Scene/CBSceneTouchTests.swift
  src/CattyTests/Scripts/WhenBackgroundChangesScriptTests.swift
  src/CattyTests/SpriteObject/SpriteObjectMutableCopyTests.swift
  src/CattyTests/SpriteObject/SpriteObjectTest.swift
  src/CattyTests/ViewController/ScriptCollectionViewControllerTests.swift
  src/CattyTests/Views/BrickCells/Data/BrickCellBackgroundDataTests.swift
  src/CattyTests/Views/BrickCells/Data/BrickCellLookDataTests.swift
Labels: code review passed

#1536 CATTY-461 Embroidery: Color change stitch
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Embroidery/EmbroideryDSTHeader.swift
  src/Catty/Embroidery/EmbroideryDSTService.swift
  src/Catty/Embroidery/EmbroideryStream.swift
  src/Catty/Embroidery/Stitch.swift
  src/CattyTests/Embroidery/EmbroideryDSTHeaderTests.swift
  src/CattyTests/Embroidery/EmbroideryDSTServiceTests.swift
  src/CattyTests/Embroidery/EmbroideryStreamTests.swift
  src/CattyTests/Resources/EmbroideryReference/color_change.dst
Labels: code review passed

#1543 CATTY-475 Fix GitHub annotations for SwiftLint
  .github/workflows/swiftlint.yml
Labels: code review passed

#1509 CATTY-286 Add tests for BrickFormulaProtocol 3/4
  src/Catty.xcodeproj/project.pbxproj
  src/CattyTests/Bricks/ChangeSizeByNBrickTests.swift
  src/CattyTests/Bricks/ChangeXByNBrickTests.swift
  src/CattyTests/Bricks/ChangeYByNBrickTests.swift
  src/CattyTests/Bricks/GlideToBrickTests.swift
  src/CattyTests/Bricks/GoNStepsBackBrickTests.swift
  src/CattyTests/Bricks/MoveNStepsBrickTests.swift
  src/CattyTests/Bricks/PlaceAtBrickTests.swift
  src/CattyTests/Bricks/PointInDirectionBrickTests.swift
  src/CattyTests/Bricks/ThinkBubbleBrickTests.swift
  src/CattyTests/Bricks/ThinkForBubbleBrickTests.swift
Labels: code review passed

#1541 CATTY-470 Add Brick category overview
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/Bricks/Data/AddItemToUserListBrick.m
  src/Catty/DataModel/Bricks/Data/ChangeVariableBrick.m
  src/Catty/DataModel/Bricks/Data/DeleteItemOfUserListBrick.m
  src/Catty/DataModel/Bricks/Data/HideTextBrick.m
  src/Catty/DataModel/Bricks/Data/InsertItemIntoUserListBrick.m
  src/Catty/DataModel/Bricks/Data/ReplaceItemInUserListBrick.m
  src/Catty/DataModel/Bricks/Data/SetVariableBrick.m
  src/Catty/DataModel/Bricks/Data/ShowTextBrick.m
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/Defines/UIDefines.h
  src/Catty/Defines/UIDefines.swift
  src/Catty/Extension&Delegate&Protocol/Extensions/UIColorExtension.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/Setup/CatrobatSetup+Bricks.swift
  src/Catty/Storyboard+XIB/iPhone.storyboard
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/BrickCategoryOverviewController.swift
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/BrickCategoryViewController.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/BrickSelectionViewController.h
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/BrickSelectionViewController.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/ScriptCollectionViewController.h
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/ScriptCollectionViewController.m
  src/Catty/Views/Custom/CollectionViewCells/BrickCells/BrickCategoryOverviewCollectionViewCell.swift
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
  src/CattyUITests/Extensions/XCTestCaseExtension.swift
  src/CattyUITests/ScriptCollectionView/BrickCellPickerViewerTest.swift
  src/CattyUITests/ScriptCollectionView/ListTests.swift
  src/CattyUITests/ScriptCollectionView/ScriptCollectionVCTests.swift
  src/CattyUITests/ScriptCollectionView/VariableTests.swift
Labels: in code review

#1545 CATTY-479 Archive build artifacts before test run
  Jenkinsfile
Labels: code review passed
