Repository Catrobat/Catty, pull requests merged in 2021-07, with the labels that each got.

#1650 CATTY-491-PPPP-"join(-string-1-,-string-2-,-string-3-)"-function
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/Bricks/Data/WebRequestBrick.swift
  src/Catty/DataModel/Bricks/Look/SayBubbleBrick.m
  src/Catty/DataModel/Bricks/Look/ThinkBubbleBrick.m
  src/Catty/DataModel/Bricks/Sound/SpeakAndWaitBrick.m
  src/Catty/DataModel/Bricks/Sound/SpeakBrick.m
  src/Catty/DataModel/Formula/Formula.h
  src/Catty/DataModel/Formula/Formula.m
  src/Catty/DataModel/Formula/FormulaElement.h
  src/Catty/DataModel/Formula/FormulaElement.m
  src/Catty/Extension&Delegate&Protocol/Extensions/GDataXMLElement/GDataXMLElement+CustomExtensions.h
  src/Catty/Extension&Delegate&Protocol/Extensions/GDataXMLElement/GDataXMLElement+CustomExtensions.m
  src/Catty/FormulaEditor/InternFormulaParser.m
  src/Catty/FormulaEditor/ViewController/FormulaEditorSectionViewController/FormulaEditorDataSectionViewController.swift
  src/Catty/FormulaEditor/ViewController/FormulaEditorSectionViewController/FormulaEditorSectionViewController.swift
  src/Catty/FormulaEditor/ViewController/FormulaEditorSubsection.swift
  src/Catty/FormulaEditor/ViewController/FormulaEditorViewControllerAlertExtension.swift
  src/Catty/Functions/FunctionManager.swift
  src/Catty/Functions/Protocols/Function.swift
  src/Catty/Functions/Protocols/FunctionManagerProtocol.swift
  src/Catty/Functions/Text/JoinThreeStringsFunction.swift
  src/Catty/Helpers/WebRequestDownloader/WebRequestDownloader.swift
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/Bricks/Control/NoteBrick+CBXMLHandler.m
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/Formula/FormulaElement+CBXMLHandler.m
  src/Catty/Parser&Serialializer/Old Parser/ProjectParser.m
  src/Catty/PlayerEngine/Formula/FormulaManager+Interpreter.swift
  src/Catty/Setup/CatrobatSetup+Functions.swift
  src/Catty/Views/Custom/CollectionViewCells/BrickCells/Data/WebRequestBrickCell.swift
  src/CattyTests/Bricks/BrickExtensionTests.swift
  src/CattyTests/Bricks/BrickMoveManager/Abstract/BrickMoveManagerAbstractTest.m
  src/CattyTests/Bricks/ChangeTransparencyByNBrickTests.swift
  src/CattyTests/Bricks/ChangeVariableBrickTests.swift
  src/CattyTests/Bricks/ClearGraphicEffectBrickTests.swift
  src/CattyTests/Extensions/GDataXMLElementExtensionTests.swift
  src/CattyTests/Formula/FormulaElementTest.swift
  src/CattyTests/Formula/FormulaTest.swift
  src/CattyTests/Parser & Serialization/CatrobatLanguage0.93/Unit Tests/XMLParserBrickTests093.swift
  src/CattyTests/Parser & Serialization/CatrobatLanguage0.993/XMLParserTests/BlackBox Tests/XMLParserBlackBoxTests0993.swift
  src/CattyTests/Parser & Serialization/CatrobatLanguage0.993/XMLParserTests/Unit Tests/XMLParserTests0993.swift
  src/CattyTests/Parser & Serialization/CatrobatLanguage0.993/XMLSerializerTests/XMLSerializerBlackBoxTests.swift
  src/CattyTests/PlayerEngine/Formula/Cache/FormulaCacheTests.swift
  src/CattyTests/PlayerEngine/Formula/Cache/FormulaManagerCacheTests.swift
  src/CattyTests/PlayerEngine/Formula/FormulaManagerIdempotenceTests.swift
  src/CattyTests/PlayerEngine/Functions/FunctionManagerTests.swift
  src/CattyTests/PlayerEngine/Functions/Text/JoinThreeStringsFunctionTest.swift
  src/CattyTests/Project/RequiredResourcesTests.swift
  src/CattyTests/Resources/ParserTests/Custom/Functions/Functions_0993.xml
  src/CattyTests/Scripts/WhenConditionScriptTests.swift
  src/CattyTests/ViewController/Stage/StagePresenterViewControllerTests.swift
Labels: in code review

#1559 CATTY-441 Implement "touches actor or object" function
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/Project/Project.h
  src/Catty/DataModel/Scene/Scene.swift
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/Defines/SpriteKitDefines.swift
  src/Catty/FormulaEditor/ViewController/FormulaEditorSectionViewController/FormulaEditorSectionViewController.swift
  src/Catty/FormulaEditor/ViewController/FormulaEditorSubsection.swift
  src/Catty/FormulaEditor/ViewController/FormulaEditorViewController.m
  src/Catty/Functions/Object/CollisionFunction.swift
  src/Catty/PlayerEngine/DataModel/CBSpriteNode/CBSpriteNode.swift
  src/Catty/PlayerEngine/Formula/FormulaManager+Editor.swift
  src/Catty/PlayerEngine/Sensors/Object/PositionXSensor.swift
  src/Catty/PlayerEngine/Sensors/Object/PositionYSensor.swift
  src/Catty/PlayerEngine/Stage/Stage.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/Setup/CatrobatSetup+Functions.swift
  src/Catty/Supporting Files/Catty-Bridging-Header.h
  src/Catty/ViewController/Stage/StagePresenterViewController.m
  src/Catty/XML/Parser/CBXMLParser.m
  src/Catty/XML/Parser/Context/CBXMLParserContext.h
  src/Catty/XML/Parser/Context/CBXMLParserContext.m
  src/Catty/XML/XMLHandler/Formula/FormulaElement+CBXMLHandler.m
  src/CattyTests/CBSpriteNodePhysicsTests.swift
  src/CattyTests/Object/CollisionFunctionTest.swift
  src/CattyTests/PlayerEngine/Formula/FormulaManagerTests.swift
  src/CattyTests/Resources/ParserTests/Custom/ControlBricks/WaitUntilBrick0993.xml
  src/CattyTests/Resources/ParserTests/Custom/Misc/ValidFormulaList.xml
  src/CattyTests/Resources/ParserTests/Custom/Object/collisionTest0993.xml
  src/CattyTests/ViewController/FormulaEditorSectionViewControllerTests.swift
  src/CattyTests/ViewController/Stage/StagePresenterViewControllerTests.swift
  src/CattyTests/XML/Parser/CatrobatLanguage0.93/XMLParserBrickTests093.swift
  src/CattyTests/XML/Serializer/XMLSerializerBlackBoxTests.swift
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
Labels: in code review

#1645 CATTY-508-Import-sound-from-files
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/Helpers/ThemesHelper/ThemesHelper.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainSounds/SoundsTableViewController+MediaLibrary.swift
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainSounds/SoundsTableViewController+SelectFile.swift
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainSounds/SoundsTableViewController.m
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
Labels: code review passed

#1670 CATTY-611 CollisionFunction in FormulaEditor leads to crash
  src/Catty/PlayerEngine/Formula/FormulaManager+Editor.swift
  src/CattyTests/PlayerEngine/Formula/FormulaManagerTests.swift
Labels: code review passed, hotfix

#1672 CATTY-613 Add XML files for Catrobat Language Version 0.996
  src/Catty.xcodeproj/project.pbxproj
  src/CattyTests/Resources/ParserTests/Custom/Data/UserData_0996.xml
  src/CattyTests/Resources/ParserTests/Custom/Data/UserVariables_0996.xml
  src/CattyTests/Resources/ParserTests/Custom/DisabledBricks/DisabledBricks_0996.xml
  src/CattyTests/Resources/ParserTests/Custom/Encapsulated/Encapsulated_0996.xml
  src/CattyTests/Resources/ParserTests/Custom/EscapingChars/EscapingChars_0996.xml
  src/CattyTests/Resources/ParserTests/Custom/Functions/Functions_0996.xml
  src/CattyTests/Resources/ParserTests/Custom/GoToBricks/GoToBrick_0996.xml
  src/CattyTests/Resources/ParserTests/Custom/ListBricks/AddItemToUserListBrick0996.xml
  src/CattyTests/Resources/ParserTests/Custom/LogicBricks/LogicBricks_0996.xml
  src/CattyTests/Resources/ParserTests/Custom/Object/collisionTest0996.xml
  src/CattyTests/Resources/ParserTests/Custom/Sensors/Sensors_0996.xml
  src/CattyTests/Resources/ParserTests/Custom/ValidHeader/ValidHeader0996.xml
  src/CattyTests/Resources/ParserTests/Custom/ValidProjectAllBricks/ValidProjectAllBricks0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Air_fight_0.5/Air_fight_0.5_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Airplane_with_shadow/Airplane_with_shadow_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Demonstration/Demonstration_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Flap_Pac_Man/Flap_Pac_Man_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Flappy_v3.0/Flappy_v3.0_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Galaxy_War/Galaxy_War_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Memory/Memory_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Piano/Piano_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Pong_Starter/Pong_Starter_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Pythagorean_Theorem/Pythagorean_Theorem_0996.xml
  src/CattyTests/Resources/ParserTests/UserProjects/Tic_Tac_Toe_Master/Tic_Tac_Toe_Master_0996.xml
Labels: on hold
