Repository Catrobat/Catty, pull requests merged in 2021-11, with the labels that each got.

#1657 CATTY-575 Support for AudioKit 5
  src/Cartfile
  src/Cartfile.resolved
  src/Catty.xcodeproj/project.pbxproj
  src/Catty.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/Catty/PlayerEngine/AudioEngine/AudioEngine.swift
  src/Catty/PlayerEngine/AudioEngine/AudioEngineProtocol.swift
  src/Catty/PlayerEngine/AudioEngine/AudioPlayer.swift
  src/Catty/PlayerEngine/AudioEngine/AudioSubtree.swift
  src/Catty/PlayerEngine/AudioEngine/Instrument.swift
  src/Catty/PlayerEngine/AudioEngine/Sampler.swift
  src/Catty/PlayerEngine/AudioEngine/StandardAudioPlayerFactory.swift
  src/Catty/PlayerEngine/Instructions/Sound/ChangeVolumeByNBrick+Instruction.swift
  src/Catty/PlayerEngine/Instructions/Sound/SetVolumeToBrick+Instruction.swift
  src/Catty/ViewController/BluetoothDeviceSelection/BluetoothPopupVC.swift
  src/CattyTests/AppDelegateTests.swift
  src/CattyTests/CBSpriteNodePhysicsTests.swift
  src/CattyTests/Mocks/ScenePresenterViewControllerSpy.swift
  src/CattyTests/Object/CollisionFunctionTest.swift
  src/CattyTests/PlayerEngine/AudioEngine/Helpers/AudioEngineAbstractTest.swift
  src/CattyTests/PlayerEngine/AudioEngine/IntegrationTests/AudioPlayerIntegrationTests.swift
  src/CattyTests/PlayerEngine/AudioEngine/IntegrationTests/SpeechSynthesizerIntegrationTests.swift
  src/CattyTests/PlayerEngine/AudioEngine/Mocks/AudioEngineFingerprintingStub.swift
  src/CattyTests/PlayerEngine/AudioEngine/Mocks/AudioEngineHelperSpy.swift
  src/CattyTests/PlayerEngine/AudioEngine/Mocks/AudioEngineMock.swift
  src/CattyTests/PlayerEngine/AudioEngine/Mocks/AudioPlayerMock.swift
  src/CattyTests/PlayerEngine/AudioEngine/Mocks/FingerprintingAudioPlayerFactory.swift
  src/CattyTests/PlayerEngine/AudioEngine/Mocks/MockAudioPlayerFactory.swift
  src/CattyTests/PlayerEngine/AudioEngine/UnitTests/AudioEngineTests.swift
  src/CattyTests/PlayerEngine/AudioEngine/UnitTests/AudioPlayerTests.swift
  src/CattyTests/PlayerEngine/AudioEngine/UnitTests/AudioSubtreeTests.swift
  src/CattyTests/PlayerEngine/AudioEngine/UnitTests/InstrumentTests.swift
  src/CattyTests/PlayerEngine/AudioEngine/UnitTests/SamplerTests.swift
Labels: in code review

#1698 CATTY-572 Cannot build on Apple Silicon
  Makefile
  src/Catty.xcodeproj/project.pbxproj
  src/RunScripts/carthage.sh
Labels: code review pending

#1696 CATTY-452 Add missing tests for PhiroSensorTest
  src/Catty/PlayerEngine/Sensors/Phiro/PhiroBottomLeftSensor.swift
  src/Catty/PlayerEngine/Sensors/Phiro/PhiroBottomRightSensor.swift
  src/Catty/PlayerEngine/Sensors/Phiro/PhiroFrontLeftSensor.swift
  src/Catty/PlayerEngine/Sensors/Phiro/PhiroFrontRightSensor.swift
  src/Catty/PlayerEngine/Sensors/Phiro/PhiroSideLeftSensor.swift
  src/Catty/PlayerEngine/Sensors/Phiro/PhiroSideRightSensor.swift
  src/CattyTests/PlayerEngine/Sensors/Phiro/PhiroSensorTest.swift
Labels: code review passed

#1700 CATTY-630 Xcode 13 Support
  src/Catty.xcodeproj/project.pbxproj
  src/Catty.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/Catty/ViewController/Help/HelpWebViewController.swift
Labels: code review pending

#1688 CATTY-548 Refactor SetLookByIndex- and SetBackgroundByIndexBrick
  src/Catty/DataModel/Bricks/Look/SetBackgroundByIndexBrick.swift
  src/Catty/DataModel/Bricks/Look/SetLookByIndexBrick.swift
  src/Catty/PlayerEngine/Instructions/Look/SetBackgroundByIndexBrick+Instruction.swift
  src/Catty/PlayerEngine/Instructions/Look/SetLookByIndexBrick+Instruction.swift
  src/Catty/XML/XMLHandler/Bricks/LookBricks/SetBackgroundByIndexBrick+CBXMLHandler.swift
  src/Catty/XML/XMLHandler/Bricks/LookBricks/SetLookByIndexBrick+CBXMLHandler.swift
Labels: code review passed
