Repository Catrobat/Catty, pull requests merged in 2021-06, with the labels that each got.

#1652 CATTY-589 Update ZipArchive to latest version
  src/Cartfile
  src/Cartfile.resolved
  src/Catty.xcodeproj/project.pbxproj
  src/Catty.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/Catty/IO/FileManager/CBFileManager.m
Labels: code review pending

#1651 CATTY-590 Integrate Chromaprint for all architectures
  src/Catty.xcodeproj/project.pbxproj
  src/CattyTests/CattyTests-Bridging-Header.h
  src/CattyTests/Lib/Chromaprint.xcframework/Info.plist
  src/CattyTests/Lib/Chromaprint.xcframework/ios-arm64/Chromaprint.framework/Headers/chromaprint.h
  src/CattyTests/Lib/Chromaprint.xcframework/ios-arm64/Chromaprint.framework/Info.plist
  src/CattyTests/Lib/Chromaprint.xcframework/ios-arm64/Chromaprint.framework/Modules/module.modulemap
  src/CattyTests/Lib/Chromaprint.xcframework/ios-arm64/Chromaprint.framework/chromaprint
  src/CattyTests/Lib/Chromaprint.xcframework/ios-arm64_x86_64-simulator/Chromaprint.framework/Headers/chromaprint.h
  src/CattyTests/Lib/Chromaprint.xcframework/ios-arm64_x86_64-simulator/Chromaprint.framework/Info.plist
  src/CattyTests/Lib/Chromaprint.xcframework/ios-arm64_x86_64-simulator/Chromaprint.framework/Modules/module.modulemap
  src/CattyTests/Lib/Chromaprint.xcframework/ios-arm64_x86_64-simulator/Chromaprint.framework/chromaprint
  src/CattyTests/Lib/Chromaprint/chromaprint.h
  src/CattyTests/Lib/Chromaprint/libchromaprint.a
  src/CattyTests/Lib/build-chromaprint.sh
  src/CattyTests/PlayerEngine/AudioEngine/Helpers/ChromaprintAudioDecoder.swift
  src/CattyTests/PlayerEngine/AudioEngine/Helpers/ChromaprintFingerprinter.swift
Labels: code review pending

#1653 CATTY-588-Play-media-library-sound-while-muted
  src/Catty/Supporting Files/Catty-Bridging-Header.h
  src/Catty/ViewController/MediaLibrary/MediaLibraryViewController.swift
Labels: code review passed

#1643 CATTY-507 New API for projects
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataStructures/JSON/CatrobatInformation/CatrobatInformation.m
  src/Catty/DataStructures/JSON/CatrobatProject/CatrobatProject.h
  src/Catty/Defines/NetworkDefines.swift
  src/Catty/Store/Model/API/CatrobatProject/CatrobatProject.h
  src/Catty/Store/Model/API/CatrobatProject/CatrobatProject.m
  src/Catty/Store/Model/API/StoreFeaturedProject.swift
  src/Catty/Store/Model/API/StoreProject.swift
  src/Catty/Store/Model/ProjectFetchFailureInfo.swift
  src/Catty/Store/Model/ProjectType.swift
  src/Catty/Store/Model/StoreProjectDownloaderError.swift
  src/Catty/Store/StoreProjectDownloader.swift
  src/Catty/Supporting Files/Catty-Bridging-Header.h
  src/Catty/ViewController/Download/ChartProjects/ChartProjectStoreDataSource.swift
  src/Catty/ViewController/Download/FeaturedProjects/FeaturedProjectsCell.swift
  src/Catty/ViewController/Download/FeaturedProjects/FeaturedProjectsStoreTableDataSource.swift
  src/Catty/ViewController/Download/FeaturedProjects/FeaturedProjectsStoreTableViewController.swift
  src/Catty/ViewController/Download/SearchStore/SearchStoreDataSource.swift
  src/Catty/ViewController/Help/HelpWebViewController.swift
  src/CattyTests/CatrobatTableViewControllerExtensionTests.swift
  src/CattyTests/DataModel/StoreProjectTests.swift
  src/CattyTests/Mocks/StoreProjectDownloaderMock.swift
  src/CattyTests/Store/Download/ChartProjectsStoreDataSourceTests.swift
  src/CattyTests/Store/Download/FeaturedProjectsStoreDataSourceTests.swift
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchFeaturedProjects.IntegerId.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchFeaturedProjects.fail.parse.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchFeaturedProjects.fail.request.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchFeaturedProjects.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostDownloadedProjects.IntegerId.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostDownloadedProjects.fail.parse.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostDownloadedProjects.fail.request.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostDownloadedProjects.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostRecentProjects.IntegerId.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostRecentProjects.fail.parse.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostRecentProjects.fail.request.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostRecentProjects.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostViewedProjects.IntegerId.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostViewedProjects.fail.parse.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostViewedProjects.fail.request.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchMostViewedProjects.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchProjectDetails.IntegerId.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchProjectDetails.fail.request.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchProjectDetails.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.fetchSearchProjects.fail.parse.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.searchProjects.IntegerId.success.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.searchProjects.fail.request.json
  src/CattyTests/Store/Download/Fixtures/StoreProjectDownloader.searchProjects.success.json
  src/CattyTests/Store/Download/StoreProjectDownloaderTests.swift
  src/CattyTests/ViewController/HelpWebViewControllerTests.swift
Labels: code review passed

#1658 CATTY-593 Change placeholder for Firebase API key
  src/Catty/Supporting Files/Firebase/GoogleService-Info.plist
Labels: in code review

#1627 CATTY-531 Store detail view landscape mode
  src/Catty/ViewController/Download/Details/ProjectDetailStoreViewControllerExtension.swift
Labels: in code review

#1625 CATTY-543-PPPP-Recently-used-Bricks
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/Defines/UIDefines.h
  src/Catty/Defines/UIDefines.swift
  src/Catty/Extension&Delegate&Protocol/Extensions/UIColorExtension.swift
  src/Catty/Helpers/Util/Util.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/Setup/CatrobatSetup+Bricks.swift
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/BrickCategoryViewController.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/BrickManager/BrickManager.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/BrickManager/RecentlyUsedBricksManager.swift
  src/CattyTests/Bricks/BrickManager/RecentlyUsedBricksManagerTests.swift
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
Labels: in code review
