Repository Catrobat/Catty, pull requests merged in 2021-01, with the labels that each got.

#1562 CATTY-489 Ask Brick crashes on empty userVariable
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/Bricks/LookBricks/AskBrick+CBXMLHandler.swift
  src/Catty/PlayerEngine/Instructions/Look/AskBrick+Instruction.swift
  src/CattyTests/Bricks/AskBrickTests.swift
Labels: code review passed

#1568 CATTY-486 Remove deprecated dependency M13ProgressSuite
  src/Cartfile
  src/Cartfile.resolved
  src/Catty.xcodeproj/project.pbxproj
Labels: code review pending

#1567 CATTY-493 Fix potential bugs in StagePresenterViewController
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/ViewController/BluetoothDeviceSelection/BluetoothDevicesTableViewController.swift
  src/Catty/ViewController/Stage/StagePresenterViewControllerResourcesExtension.swift
  src/CattyTests/Mocks/StagePresenterViewControllerMock.swift
  src/CattyTests/ViewController/Stage/StagePresenterViewControllerTests.swift
Labels: in code review

#1555 CATTY-251 Extension for URLSession
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Extension&Delegate&Protocol/Extensions/URLSessionMultipartExtension.swift
  src/Catty/Store/StoreProjectUploader.swift
  src/CattyTests/URLSessionMultipartExtensionTests.swift
Labels: in code review

#1548 CATTY-439 Implement SetLookByIndexBrick
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/Bricks/Look/SetLookByIndexBrick.swift
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/Parser&Serialializer/New Parser & Serializer/XMLHandler/Bricks/LookBricks/SetLookByIndexBrick+CBXMLHandler.swift
  src/Catty/PlayerEngine/DataModel/CBSpriteNode/CBSpriteNode.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/SetLookByIndexBrick+Instruction.swift
  src/Catty/Setup/CatrobatSetup+Bricks.swift
  src/Catty/Views/Custom/CollectionViewCells/BrickCells/Look/SetLookByIndexBrickCell.swift
  src/CattyTests/Bricks/SetLookByIndexBrickTests.swift
  src/CattyTests/Resources/ParserTests/Custom/ValidProjectAllBricks/ValidProjectAllBricks0991.xml
  src/CattyTests/Resources/ParserTests/Custom/ValidProjectAllBricks/ValidProjectAllBricks0992.xml
  src/CattyTests/Resources/ParserTests/Custom/ValidProjectAllBricks/ValidProjectAllBricks0993.xml
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
Labels: code review passed

#1572 CATTY-499 Unknown formula type leads to crash
  src/Catty/DataModel/Formula/FormulaElement.h
  src/Catty/DataModel/Formula/FormulaElement.m
  src/Catty/PlayerEngine/Formula/FormulaManager+Interpreter.swift
  src/CattyTests/Parser & Serialization/CatrobatLanguage0.93/Unit Tests/XMLParserFormulaTests093.swift
  src/CattyTests/PlayerEngine/Formula/FormulaManagerInterpreterTests.swift
  src/CattyTests/Resources/ParserTests/Custom/Misc/ValidFormulaList.xml
Labels: code review passed

#1540 CATTY-473 Xcode 12 support and minimum supported iOS version
  Makefile
  src/Cartfile
  src/Cartfile.resolved
  src/Catty.xcodeproj/project.pbxproj
  src/Catty.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/Catty.xcodeproj/xcshareddata/xcschemes/Catty (DEBUG).xcscheme
  src/Catty.xcodeproj/xcshareddata/xcschemes/Catty (RELEASE).xcscheme
  src/Catty.xcodeproj/xcshareddata/xcschemes/Snapshots.xcscheme
  src/Catty/BluetoothHelper/BluetoothHelper.xcodeproj/project.pbxproj
  src/Catty/Defines/LaunchArguments.swift
  src/Catty/Defines/SpriteKitDefines.swift
  src/Catty/Defines/UIDefines.swift
  src/Catty/FormulaEditor/ViewController/FormulaEditorViewController.m
  src/Catty/Helpers/BrickHelpers/CameraPreviewHandler.m
  src/Catty/Helpers/Flash/FlashHelper.m
  src/Catty/Helpers/Util/Util.m
  src/Catty/PlayerEngine/AudioEngine/AudioEngine.swift
  src/Catty/PlayerEngine/AudioEngine/AudioPlayer.swift
  src/Catty/PlayerEngine/AudioEngine/AudioSubtree.swift
  src/Catty/PlayerEngine/AudioEngine/IterableCache.swift
  src/Catty/PlayerEngine/Formula/Cache/FormulaCache.swift
  src/Catty/PlayerEngine/Sensors/Camera/FaceDetectionManager.swift
  src/Catty/PlayerEngine/Sensors/Extensions/ProtocolConformance.swift
  src/Catty/PlayerEngine/Sensors/Protocols/LocationManager.swift
  src/Catty/PlayerEngine/Sensors/Protocols/MotionManager.swift
  src/Catty/PocketPaint/Helper/ImagePicker.m
  src/Catty/PocketPaint/ViewController/PaintViewController.m
  src/Catty/Settings.bundle/Root.plist
  src/Catty/Supporting Files/AppDelegate.swift
  src/Catty/ViewController/CatrobatTableViewController/SettingsTableViewController.swift
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainLooks/LooksTableViewController.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainSounds/SoundsTableViewController.m
  src/Catty/ViewController/Download/ProjectDetailStoreViewController.m
  src/Catty/ViewController/MediaLibrary/MediaLibraryCollectionViewDataSource.swift
  src/Catty/ViewController/Upload/LoginViewController.m
  src/Catty/ViewController/Upload/RegisterViewController.m
  src/Catty/Views/Custom/CollectionViewCells/BrickCellData/BrickCellBackgroundData.swift
  src/Catty/Views/Custom/CollectionViewCells/BrickCellData/BrickCellListData.m
  src/Catty/Views/Custom/CollectionViewCells/BrickCellData/BrickCellLookData.m
  src/Catty/Views/Custom/CollectionViewCells/BrickCellData/BrickCellMessageData.m
  src/Catty/Views/Custom/CollectionViewCells/BrickCellData/BrickCellVariableData.m
  src/Catty/Views/Custom/CollectionViewCells/BrickCells/BrickCell.m
  src/CattyTests/PlayerEngine/AudioEngine/UnitTests/AudioPlayerTests.swift
  src/CattyTests/PlayerEngine/AudioEngine/UnitTests/SpeechSynthesizerTests.swift
  src/CattyTests/PlayerEngine/Sensors/Mocks/LocationManagerMock.swift
  src/CattyTests/PlayerEngine/Sensors/Mocks/MotionManagerMock.swift
  src/CattyTests/PlayerEngine/Sensors/Motion/InclinationXSensorTest.swift
  src/CattyUISnapshots/CattyUISnapshots.swift
  src/CattyUITests/Extensions/XCTestCaseExtension.swift
  src/CattyUITests/ScriptCollectionView/BrickCellPickerViewerTest.swift
  src/CattyUITests/ScriptCollectionView/BrickCellTests.swift
  src/CattyUITests/ScriptCollectionView/ListTests.swift
  src/CattyUITests/ScriptCollectionView/ScriptCollectionVCTests.swift
  src/CattyUITests/ScriptCollectionView/VariableTests.swift
  src/RunScripts/carthage.sh
Labels: code review passed

#1497 CATTY-400 Implement StoreProjectReporter
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/Extension&Delegate&Protocol/Extensions/UIViewController/CatrobatTableViewControllerExtension.swift
  src/Catty/Extension&Delegate&Protocol/Extensions/UIViewController/ProjectDetailStoreViewControllerExtension.swift
  src/Catty/Extension&Delegate&Protocol/Extensions/UIViewController/UIViewControllerExtension.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/Store/StoreProjectReporter.swift
  src/Catty/ViewController/Download/ProjectDetailStoreViewController.h
  src/Catty/ViewController/Download/ProjectDetailStoreViewController.m
  src/CattyTests/Store/Report/Fixture/StoreProjectReporter.reportProject.authentication.fail.json
  src/CattyTests/Store/Report/Fixture/StoreProjectReporter.reportProject.postDataIncorrect.fail.json
  src/CattyTests/Store/Report/Fixture/StoreProjectReporter.reportProject.postDataIncorrect.longMessage.fail.json
  src/CattyTests/Store/Report/Fixture/StoreProjectReporter.reportProject.postDataIncorrect.shortMessage.fail.json
  src/CattyTests/Store/Report/Fixture/StoreProjectReporter.reportProject.success.json
  src/CattyTests/Store/Report/Fixture/StoreProjectReporter.reportProject.unexpectedError.json
  src/CattyTests/Store/Report/StoreProjectReporterTests.swift
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
Labels: code review passed

#1574 CATTY-483 Landscape mode for Brick overview
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/BrickCategoryOverviewController.swift
Labels: code review passed
