Repository Catrobat/Catty, pull requests merged in 2021-05, with the labels that each got.

#1630 CATTY-564 Convert and refactor FormulaParserTest
  src/Catty.xcodeproj/project.pbxproj
  src/CattyTests/Formula/FormulaParserTest.m
  src/CattyTests/Formula/FormulaParserTest.swift
Labels: code review passed

#1596 CATTY-496 Open .catrobat file crashes app
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/Project/Project.m
  src/Catty/DataStructures/ProjectLoadingInfo/ProjectLoadingInfo.h
  src/Catty/DataStructures/ProjectLoadingInfo/ProjectLoadingInfo.m
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/IO/ProjectManager.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/Supporting Files/AppDelegate.swift
  src/CattyTests/AppDelegateTests.swift
  src/CattyTests/FileManager/ProjectManagerTests.swift
  src/CattyTests/Project/ProjectTests.swift
  src/CattyTests/Resources/ParserTests/ZipProjects/817.catrobat
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
Labels: in code review

#1636 CATTY-576 Remove notifications in Formula Editor
  src/Catty/FormulaEditor/ViewController/FormulaEditorViewController.m
Labels: code review pending

#1633 CATTY-567 Cannot discard changes in Pocket Paint
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/PocketPaint/ViewController/PaintViewController.m
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/Views/Custom/AlertController/AlertControllerBuilder.swift
  src/CattyUITests/CreateProjectTests.swift
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
  src/CattyUITests/Extensions/XCTestCaseExtension.swift
  src/CattyUITests/LooksTVCTests.swift
  src/CattyUITests/ScriptCollectionView/BrickCellTests.swift
Labels: code review passed

#1635 CATTY-554-PPPP-Export-Embroidery-as-DST-file
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/Bricks/Embroidery/StitchBrick.swift
  src/Catty/Defines/ProjectDefines.h
  src/Catty/Images.xcassets/Icons/square.and.arrow.up.reg.imageset/Contents.json
  src/Catty/Images.xcassets/Icons/square.and.arrow.up.reg.imageset/square.and.arrow.up.reg-1.png
  src/Catty/ViewController/Stage/StagePresenterSideMenuView.swift
  src/Catty/ViewController/Stage/StagePresenterViewController.h
  src/Catty/ViewController/Stage/StagePresenterViewControllerShareExtension.swift
  src/CattyTests/ViewController/Stage/StagePresenterSideMenuViewTests.swift
Labels: code review pending

#1646 CATTY-584 Increase iOS target version to 12.0
  src/Catty.xcodeproj/project.pbxproj
  src/Catty.xcodeproj/xcshareddata/xcschemes/Catty (DEBUG).xcscheme
  src/Catty.xcodeproj/xcshareddata/xcschemes/Catty (RELEASE).xcscheme
  src/Catty.xcodeproj/xcshareddata/xcschemes/Snapshots.xcscheme
  src/Catty/BluetoothHelper/BluetoothHelper.xcodeproj/project.pbxproj
  src/Catty/Extension&Delegate&Protocol/Extensions/AVAudioSessionExtension.swift
  src/Catty/Extension&Delegate&Protocol/Extensions/UIView/UIViewExtension.swift
  src/Catty/FormulaEditor/Views/FormulaEditorKeyboardView.swift
  src/Catty/Helpers/Keychain/JNKeychain.h
  src/Catty/Helpers/Keychain/JNKeychain.m
  src/Catty/Helpers/Keychain/Keychain.swift
  src/Catty/Helpers/Util/ExtendedTimer.swift
  src/Catty/PlayerEngine/AudioEngine/AudioManager+Loudness.swift
  src/Catty/PocketPaint/ViewController/ColorPickerViewController.m
  src/Catty/Store/StoreProjectReporter.swift
  src/Catty/Store/StoreProjectUploader.swift
  src/Catty/Supporting Files/Catty-Bridging-Header.h
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainLooks/LooksTableViewController.m
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/BrickCategoryViewController.m
  src/Catty/ViewController/Download/Details/ProjectDetailStoreViewControllerExtension.swift
  src/Catty/ViewController/Help/HelpWebViewController.swift
  src/Catty/ViewController/MediaLibrary/MediaLibraryViewController.swift
  src/Catty/ViewController/PrivacyPolicy/PrivacyPolicyViewController.swift
  src/Catty/ViewController/Projects/ProjectDescriptionViewController.swift
  src/Catty/ViewController/Stage/StagePresenterSideMenuView.swift
  src/Catty/ViewController/Stage/StagePresenterViewController.m
  src/Catty/ViewController/Upload/LoginViewController.m
  src/Catty/ViewController/Upload/RegisterViewController.m
  src/CattyTests/Helpers/KeychainTests.swift
  src/CattyTests/MediaLibrary/MediaLibraryCollectionViewDataSourceTests.swift
  src/CattyTests/Mocks/PaintViewControllerMock.swift
  src/CattyTests/Store/Report/StoreProjectReporterTests.swift
  src/CattyTests/Store/Upload/StoreProjectUploaderTests.swift
  src/CattyUISnapshots/Supporting Files/SnapshotHelper.swift
Labels: code review pending

#1641 CATTY-557 Hide Maximize icon in sidebar for landscape mode
  src/Catty/ViewController/Stage/StagePresenterSideMenuView.swift
  src/CattyTests/ViewController/Stage/StagePresenterSideMenuViewTests.swift
Labels: code review pending
