Repository Catrobat/Catty, pull requests merged in 2022-02, with the labels that each got.

#1712 CATTY-641 Selected settings icon should not be grey
  src/Catty/Images.xcassets/appsettings_highlighted.imageset/Contents.json
  src/Catty/Images.xcassets/appsettings_highlighted.imageset/appsettings_highlighted.png
  src/Catty/Storyboard+XIB/iPhone.storyboard
Labels: code review passed

#1721 CATTY-642 Disable XML output when parsing project
  src/Catty/XML/Parser/CBXMLParser.m
Labels: code review passed

#1716 CATTY-625 Stop current stitch brick
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/DataModel/Bricks/Embroidery/StopCurrentStitchBrick.swift
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/PlayerEngine/Instructions/Embroidery/StopCurrentStitchBrick+Instruction.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/Setup/CatrobatSetup+Bricks.swift
  src/Catty/Views/Custom/CollectionViewCells/BrickCells/Embroidery/StopCurrentStitchBrickCell.swift
  src/Catty/XML/XMLHandler/Bricks/Embroidery/StopCurrentStitchBrick+CBXMLHandler.swift
  src/CattyTests/Bricks/StopCurrentStitchBrickTests.swift
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
Labels: code review passed

#1717 CATTY-638 Update AudioKit to Version 5.3.1
  src/Catty.xcodeproj/project.pbxproj
  src/Catty.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/Catty/PlayerEngine/AudioEngine/AudioPlayer.swift
  src/CattyTests/PlayerEngine/AudioEngine/Mocks/AudioEngineFingerprintingStub.swift
  src/CattyTests/PlayerEngine/AudioEngine/UnitTests/AudioPlayerTests.swift
Labels: code review passed

#1707 CATTY-551 PPPP: Add "touches edge" sensor
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/Defines/LanguageTranslationDefines.h
  src/Catty/Defines/LanguageTranslationDefinesSwift.swift
  src/Catty/PlayerEngine/DataModel/CBSpriteNode/CBSpriteNode.swift
  src/Catty/PlayerEngine/Sensors/Object/TouchesEdgeSensor.swift
  src/Catty/PlayerEngine/Stage/Stage.swift
  src/Catty/Resources/Localization/en.lproj/Localizable.strings
  src/Catty/Setup/CatrobatSetup+Sensors.swift
  src/CattyTests/PlayerEngine/Sensors/Object/TouchesEdgeSensorTest.swift
  src/CattyTests/Resources/ParserTests/Custom/Sensors/TouchesEdgeSensor.xml
  src/CattyUITests/Defines/LanguageTranslationDefinesUI.swift
Labels: code review passed

#1585 CATTY-511 fix movement of bricks
  src/Catty.xcodeproj/project.pbxproj
  src/Catty/ViewController/Continue&New/MaintainObject/MaintainScript/ScriptCollectionViewController.m
  src/CattyUITests/ScriptCollectionView/BrickMovementTests.swift
Labels: code review passed

#1723 CATTY-649 Fix flaky TrustedDomainTVCTests
  src/CattyUITests/TrustedDomainTVCTests.swift
Labels: code review passed, hotfix

#1726 CATTY-650 Fix flaky BrickMovementTests
  src/CattyUITests/ScriptCollectionView/BrickMovementTests.swift
Labels: code review pending, hotfix
